<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home"><img src="assets/images/teamlogo.png"  alt="G2" height="35"/></a>    
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        
        <!-- <li *ngIf='isLoggedIn()' class="nav-item"  [routerLinkActive]="['active']">
          <a class="nav-link" routerLink="/question"><i class="fas fa-lg fa-user"></i> Question</a>
        </li>

        <li *ngIf='isLoggedIn()' class="nav-item"  [routerLinkActive]="['active']">
          <a class="nav-link" routerLink="/users"><i class="fas fa-lg fa-user"></i> User</a>
        </li> -->
        
        <li *ngIf='isLoggedIn()' class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" aria-current="page" routerLink="/home"><i class="fas fa-lg fa-home"></i> Home</a>
        </li>

        <li *ngIf='isLoggedIn() && isAdmin()' class="nav-item ml-5" [routerLinkActive]="['active']">
          <a class="nav-link text-warning" routerLink="/admin/main"><i class="fas fa-lg fa-user-shield"></i> Admin</a>
        </li>

        <li *ngIf='isLoggedIn()' class="navbar-text text-success ms-5 me-5 d-none d-lg-inline">
          <i class="fas fa-lg fa-user"></i> Welcome, {{user.username}}
      </li>

        <li *ngIf='isLoggedIn()' class="nav-item">
          <a (click)='onLogoutClick()' routerLink='/logout' class="nav-link" routerLink="/logout">
            <i class="fas fa-lg fa-sign-out-alt"></i> Logout</a>
        </li>

        <li *ngIf='!isLoggedIn()' class="nav-item">
          <a class="nav-link" routerLink="/login"><i class="fas fa-lg fa-sign-in-alt"></i> Login</a>
        </li>

        <li *ngIf='!isLoggedIn()' class="nav-item">
          <a class="nav-link" routerLink="/signup"><i class="fas fa-lg fa-user-plus"></i> Signup</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
