<table class="table table-sm table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Lastname</th>
        <th>Username</th>
        <th>Email</th>
        <th>UserType</th>
        <th>Operation</th>
      </tr>
    </thead>
    <tbody>
       <tr *ngFor="let b of getUsers()">
        <td>{{ b.name }}</td>
        <td>{{ b.lastname }}</td>
        <td>{{ b.username }}</td>
        <td>{{ b.email }}</td>
        <td>{{ b.userType  === true ? "Admin User" : "Standard User" }}</td>
        <td>
          <button
            (click)='editUser(b._id)'
            class="btn btn-sm btn-primary m-1"
          >
            <i class="fas fa-pencil-alt"></i>
          </button>
          <button class="btn btn-sm btn-danger m-1" (click)="deleteUser(b._id)">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
      </tr> 
    </tbody>
  </table>
  
   <button class="btn btn-primary" (click)='addUser()'>
    <i class="fas fa-plus-circle"></i> Add New User
  </button> 
  