#outside {
  background-color: #172B37;
  padding-top: 10px;
  padding-bottom: 10px;
}

form {
  margin: 0 auto;
  width: 90%;
  /* To see the limits of the form */
  padding: 1em;
  border-radius: 1em;
}

#survey-form {
  background-color: whitesmoke;
}

fieldset { 
  border:1px solid lightgray;
  margin: 10px;
}