<!-- Main Content -->
<div class="jumbotron d-flex align-items-center ">
    <div class="container text-center">
      <h1 class="display-1 col-12 text-center title">
        
        Welcome
        </h1>

  <!-- Mission Statement -->
<div class="col-12">
  <p class="lead">Create a survey, target respondents, and generate statistically significant results in just days.</p>

  <div class="jumbotron">
    <h1 class="display-4">Services</h1>
  <!-- Hero container -->
  <div class="jumbotron d-flex align-items-center ">
    <div class="container text-center">
  <div class="row text-center services">
    <div class="col-lg-4 col-md-4 col-sm-12">
        <i class="fas fa-5x fa-building"></i>
        <p class="h3">Business Planning</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        <i class="fas fa-5x fa-book"></i>
        <p class="h3">Academic Research</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        <i class="fas fa-5x fa-search-dollar"></i>
        <p class="h3">Market Research</p>
    </div>
  </div>
</div>
</div>

<!-- Start a Survey -->
<div class="col-12">
  <a class="btn btn-dark btn-lg" href="/question" role="button">
      Start a Survey
  </a>
</div>

<!-- Sample Survey -->
<div class="container">
  <header class="header">
    <h1 id="title" class="text-center">Survey Form</h1>
    <p id="description" class="description text-center">
      Below is a sample survey
    </p>
  </header>
  <form id="survey-form">
    <div class="form-group">
      <p>
        What do you think?
        <span class="clue">(Check all that apply)</span>
      </p>

      <label
        ><input
          name="prefer"
          value="Excellent"
          type="checkbox"
          class="input-checkbox"
        />Excellent</label
      >
      <br>
      <label>
        <input
          name="prefer"
          value="Very Good"
          type="checkbox"
          class="input-checkbox"
        />Very Good</label
      >
      <br>
      <label
        ><input
          name="prefer"
          value="Good"
          type="checkbox"
          class="input-checkbox"
        />Good</label
      >
      <br>
      <label
        ><input
          name="prefer"
          value="Okay"
          type="checkbox"
          class="input-checkbox"
        />Okay</label
      >
      <br>
      <label
        ><input
          name="prefer"
          value="Bad"
          type="checkbox"
          class="input-checkbox"
        />Bad</label
      >
      <br>
      <label
        ><input
          name="prefer"
          value="Worse"
          type="checkbox"
          class="input-checkbox"
        />Worse</label
      >
      <br>
      <label
        ><input
          name="prefer"
          value="Worst"
          type="checkbox"
          class="input-checkbox"
        />Worst</label
      >
      <br>
      <label      
        ><input        
          name="prefer"
          value="Prefer not to answer"
          type="checkbox"
          class="input-checkbox"
        />Prefer not to answer</label
      >
    </div>
    <div class="col-12">
      <a class="btn btn-dark btn-lg" href="/questions" role="button">
          Submit
      </a>
    </div>
  </form>
  
<p>
  <br> 
  <span class="clue">     </span>
  <br>
</p>
</div>

</div>
</div>
</div>
