<div class="bg-info p-2 text-center text-white">
    <h3>Survey Website Registeration</h3>
  </div>
  
  <main class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-sm-8 offset-sm-1">
        <div
          class="bg-danger mt-5 p-2 text-center text-white"
          *ngIf="errorMessage != null"
        >
          {{ errorMessage }}
        </div>
        <h1>Enter you information to register</h1>
        <form autocomplete="off" #form="ngForm" (ngSubmit)="signup(form)">
            <fieldset class="form-group mt-2">
                <label for="name"> Given Name:</label>
                <input
                  type="text"
                  class="form-control mt-2"
                  [(ngModel)]="user.name"
                  name="name"
                  placeholder="Given Name"
                  id="name"
                  required
                  autofocus
                  autocomplete="off"
                />
              </fieldset>

              <fieldset class="form-group mt-2">
                <label for="lastname"> Lastname:</label>
                <input
                  type="text"
                  class="form-control mt-2"
                  [(ngModel)]="user.lastname"
                  name="lastname"
                  placeholder="Lastname"
                  id="lastname"
                  required
                  autocomplete="off"
                />
              </fieldset>

          <fieldset class="form-group mt-2">
            <label for="username"> Username:</label>
            <input
              type="text"
              class="form-control mt-2"
              [(ngModel)]="user.username"
              name="username"
              placeholder="Enter Username"
              id="username"
              required
              autocomplete="off"
            />
          </fieldset>
  
          <fieldset class="form-group mt-2">
            <label for="password"> Password:</label>
            <input
              type="password"
              class="form-control mt-2"
              [(ngModel)]="user.password"
              name="password"
              placeholder="Enter password"
              id="password"
              required
              autocomplete="off"
            />
          </fieldset>

          <fieldset class="form-group mt-2">
            <label for="email"> Email:</label>
            <input
              type="email"
              class="form-control mt-2"
              [(ngModel)]="user.email"
              name="email"
              placeholder="Enter email"
              id="email"
              required
              autocomplete="off"
            />
          </fieldset>
  
          <fieldset class="form-group text-center mt-2">
            <button class="btn btn-primary m-1" type="submit">
              <i class="fas fa-save"></i> Register
            </button>
            <button class="btn btn-secondary m-1" routerLink="/admin/auth">
              <i class="fas fa-undo"> Cancel</i>
            </button>
          </fieldset>
        </form>
      </div>
    </div>
  </main>